@page "/"
@page "/loginfailed"

@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<PageTitle>Find Your Doctor</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudAutocomplete T="string"/>